
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Home Page</title>
</head>

<body>
    <!--- Nav Bar -->
    <div class="">
        <div class="">
            <nav>
                <div class="nav-wrapper">
                  <a style="text-decoration: none;" href="#" class="brand-logo center font-fam">Issue Ticker</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                  </ul>
                  
                </div>
            </nav>
        </div>  
    </div>
    <div class="container">
        <div class="row">
            <a href="{% url 'home' %}" class="btn btn-info"><i class="material-icons">backspace</i></a>
        </div>
    </div>
    <hr>
    <h1>Password Reset</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          <form method="POST">
    <p>Please enter your email address</p>
    
    {% csrf_token %} 
    {{ form.email.errors }}
            <p>
            <label for="id_email">Email address:</label> 
            {{ form.email }}
        
            <button type="button" class="center-3 btn btn-primary">Password Reset</button>
        </p>
        
        </form>
        </div>
        <div class="col-sm">
          
        </div>
      </div>
    </div>
    <hr>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">The Best Issue Ticker Ever</h5>
                <p class="grey-text text-lighten-4">Always remeber to code responsibly.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Socials</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Pintrest</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#">More Links</a>
            </div>
          </div>
    </footer>
    
    
    <!--- Script -->
     <script type="text/javascript">
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.slider').slider();
            $('.alert').alert()

          });
     
    </script>
</body>

</html>