{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<br>
    <div class="row">
        <a href="{% url 'view_cart' %}" class="btn btn-info"><i class="material-icons"></i>Back</a>
    </div>
    <hr>

<!-- <div class="container">
  <div class="row">
    {% for item in cart_items %}
    <div class="col-3">
      <div class="">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s10">
              <span class="black-text">
                  <h3>{{ item.post.title }}</h3>
                <p>{{ item.post.content|truncatewords:10}}</p>
                <p class="text-center">$ {{ item.post.price }}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
</div> -->

<!-- <div class="row">
 {% for item in cart_items %}
  <div class="col-4">
      <div class="">
        <div class="card-panel grey">
          <span class="white-text"><h3>{{ item.post.title }}</h3>{{ item.post.content|truncatewords:5 }}
          <strong><p class="text-center">$ {{ item.post.price }}</p></strong>
          </span>
        </div>
      </div>
    </div>
{% endfor %} 
</div> -->
<div class="jumbotron #ffd7d9 red  lighten-4 " >
    <div class="row">
        <div class="col-6 text-right">  <h1>Total: </h1> </div>
        <div class="col-6 text-left">  <h1><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>$ {{ total}}</h1></div>
    </div>

</div>



<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <div class="row">
            <div class=" col-lg-6 col-sm-12">
              <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
                </div>
            
                <div class="form-group">
                    {{ order_form | as_bootstrap }}
                </div>
            </div>
            <div class=" col-lg-6 col-sm-12">
               <div class="form-group">
                    {{ payment_form | as_bootstrap }}
                </div>
                <div class="row">{% csrf_token %}
                <div class="form-group center-4">
                    <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                </div></div>
            </div>
      </div>
</form>

{% endblock %}