{% extends 'base.html' %} 

{% block page_title %} Cart {% endblock %} 

{% block page_heading %} Your Item {% endblock %} 

{% block content %}




<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      Title
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      Infor
    </div>
  </div>
</div>
<div class="row">
    <button type="button" class="center-3 btn btn-primary">Checkout</button>
</div>
<div>
       <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
