{% extends 'base.html' %} 

{% block page_title %} Community {% endblock %} 

{% block page_heading %}  {% endblock %} 

{% block content %}

    <div class="jumbotron jumbotron-fluid" style="background-image: url(https://static1.squarespace.com/static/5695456940667a42fbdabb9d/56ac4b2542f5526b480dda65/5a32c76fc8302501781e177f/1513353265770/christopher-gower-291246.jpg?format=1500w); background-size: 100%;">
      <div class="container">
        <h1 class="display-4 ">Community</h1>
        <p class="lead">Check out our community</p>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
   <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
   <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>

<div>
       <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
