{% extends 'base.html' %} 

{% block page_title %} Home {% endblock %} 

{% block page_heading %}{% endblock %} 

{% block head_js %}
<script src=""></script>
{% endblock %}

{% block content %}

<!-- Community page -->
<div class="jumbotron" id="community">
  <h1 class="text-center" id="ddisplay-10">Hello</h1>
  <hr class="my-4" id="my-5" >
  <!-- <div class="center-5">
      <a class=" btn btn-secondary" href="{% url 'community' %}" role="button">Community</a>
    </div> -->
  <p class="text-center font-fam3 ok" id="font-fam3">The post with the most upvotes at the end of week will be solved</p>
</div>

    <hr>
<div class="">
    
    <!-- The Main titles -->
    

    <!-- The bugs or feature are -->
    <div class="row col-lg-12">

        <!-- Features or Bugs button -->
                
        
        <div class="container">
           <!-- Legend-->
            <div class="row col-lg-12 text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-4"><span class="dot" style="background-color: #007bff;" ></span> To-Do</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4"><span class="dot" style="background-color: green;" ></span> Done </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4"><span class="dot" style="background-color: grey;" ></span> $2.50 for Solution</div>
            </div> 
          <div class="row">
            <div class="col">
                <ul class="nav nav-tabs center-2" id="myTab" role="tablist">
                    <li class="center nav-item">
                        <a class=" nav-link active" id="home-tab" data-toggle="tab" href="{% url 'home' %}" role="tab" aria-controls="home" aria-selected="true">Bugs</a>
                    </li>
                    <li class="center nav-item">
                        <a style="color:black;" class="nav-link" id="profile-tab" data-toggle="tab" href="{% url 'feats' %}" role="tab" aria-controls="profile" aria-selected="false">Features</a>
                    </li>
                </ul>    
            </div>
          </div>
           <!-- Search bar <div class="display center">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="search">Search</button>
            </form>
          </div> -->
        </div>
        <hr>
        <button type="button" class="center-3 nav_button btn btn-danger"><a class="button font-fam-2" href="{% url 'new_post' %}">Add Bug</a></button>
       


        <!-- Cards-->
        <div class="row col-lg-12 ">
            {% for post in posts %}
           <div class="col">
                <div class="card text-center" style="width: 18rem;">
                    <button type="button" class="status btn btn-primary btn-lg btn-block"></button>
                  <div class="card-body" style="height:250px">
                    <h5 class="card-title hoverblue "><a style="color:black;" #26a69a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h5>
                    <p class="card-text hoverblue "><a style="color:black;" #26a69a href="{% url 'post_detail' post.id %}">{{ post.content|truncatewords:15 }}</p>
                    <!-- <p><a class="btn-flat" style="grey" href="{% url 'post_detail' post.id %}">Read More</a></p> -->
                    
                    <div class="container">
                      <div class="row">
                        <div class="col-3">
                         <div class=""><i class="material-icons">remove_red_eye</i>{{post.views}}</div>
                        </div>
                        <div class="col-6 ">
                          <!-- <a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">add</i></a> -->
                            <!-- Add to cart button -->
                           <form method="post" action="{% url 'add_to_cart' post.id %}">
                                {% csrf_token %}
                                <!-- Add -->
                                <div class="input-group center">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Buy</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-3">
                            <div class=""> <i class="material-icons x-small">thumb_up</i>10</div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <p style="font-size:8px" ><span style="font-size:8px" class="boldtext">Published on:</span> {{ post.published_date }} </p>
                  <!-- <a class="btn btn-secondary  btn-lg btn-block small" href="{% url 'post_detail' post.id %}">See More</a> -->
                </div>
                
            </div>
            {% endfor %}
        </div>
         
    </div>
    


    
    
</div>








{% endblock %}
