{% extends "base.html" %}
{% block content %}
    <br>
   
        <div class="row">
            <a href="{% url 'get_posts' %}" class="btn btn-info"><i class="material-icons"></i>Back</a>
        </div>
        <hr>
        <div class="text-center">
            <div class="row ">
                <div class="container">
                  <div class="row">
                    <div class="col"></div>
                    <div class="col-md-3 col-sm-3 ">
                      <div class="row"><h3 class="text-center">{{ post.title }}</h3></div>
                      <div class="row">
                         <a class="story-img" href="#">
                            <img class="avatar-2" src="https://cdn.dribbble.com/users/1827485/screenshots/4266390/spiderman-01.png"></img>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="row"> <p><span class="boldtext"><strong>Name:</strong></span> {{ post.name }} </p></div>
                      <div class="row"><p><strong>Type: </strong>{{ post.type }}</p></div>
                      <div class="row"><p><span class="boldtext"><strong>Views: </strong></span> {{post.views}}</p></div>
                      
                      <div class="row"><p><span class="boldtext"><strong>Up votes:</strong></span> {{post.views}}</p></div>
                      <div class="row"> <p><span class="boldtext"><strong>Published on:</strong></span> {{ post.published_date }} </p></div>
                    </div>
                </div>
               </div>  
                
            </div>
            
        </div>
         <div class="">
            <h4 class="text-center font-fam13">Issue</h4>
            <div class="textbox-b">
                <div class="">{{ post.content }}</div>
                       
            </div>
        </div>

        <div class="row">
            <!-- <hr id="my-9" > -->
        </div>
        {% if post.status != done %} 
        <div class="">
            <h4 class="text-center font-fam13">Solution</h4>
            <div class="textbox-a">
                <div class="">{{ post.answer }}</div>
                       
            </div>
        </div>
        {% else %}
        {% endif %} 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      
    
{% endblock %}