{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <br>
     <div class="row">
        <a href="{% url 'get_posts' %}" class="btn btn-info"><i class="material-icons"></i>Back</a>
    </div>
    <hr>
    <h2 class="text-center" style="text-transform: capitalize; margin-top:50px;">Add Bug or Feature</h2>
   <img class="avatar" src="http://www.ustickem.com/images/cache/_spiderman_001.500.gif"></img>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="center-3 btn btn-info">Add</button>
    </form>
{% endblock %}
